<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxzcanying.springbootdemo.mapper.EmpMapper">
    <update id="update">
        UPDATE emp
        <set>
            <if test="username!=null and username!=''">
                username=#{username},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="gender!=null">
                gender=#{gender},
            </if>
            <if test="image!=null and image!=''">
                image=#{image},
            </if>
            <if test="job!=null">
                job=#{job},
            </if>
            <if test="entrydate != null">
                entrydate = #{entrydate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
#           需要两个updatetime来设置，否则会报错,原因：EmpServiceImpl里面的updateTime是设置值，这里是要传入数据库这一步
        </set>
        where id = #{id}
    </update>

<!--    条件查询-->
    <select id="list" resultType="com.cxzcanying.springbootdemo.pojo.Emp">
        select * from emp
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                and entrydate between #{begin} and #{end}
            </if>
        </where>
        order by update_time desc
    </select>
<!--    查询回显-->
    <select id="getById" resultType="com.cxzcanying.springbootdemo.pojo.Emp">
        select id, username, password, name, gender, image, job, entrydate, dept_id, create_time, update_time from emp
        <where>
            id=#{id}
        </where>
    </select>
<!--删除员工-->
    <delete id="delete">
        delete from emp where id in
                        <foreach collection="ids" item="id" open="(" close=")" separator=",">
                            #{id}
                        </foreach>
    </delete>
</mapper>